<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Automation Suite">
	<listeners>
        	<listener class-name="org.projectname.maincontroller.MainController"/>
        	<listener class-name="org.projectname.utils.ReportGenerator"/>
  	</listeners>
  <test name="Demo Testing">
  	<groups>
  	<run>
  	<include name="regression"/>
  	</run>
  	</groups>
  	
    <classes>
      <class name="org.projectname.LoginModuleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
