<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HGHSuite">
    <listeners>
        <listener class-name="org.hgh.utils.ReportGenerator"/>
    </listeners>
  
  <test name="HGHWebApplicationTesting">
  <groups>
      <run>
        <include name="smoke"/>
         <include name="regression"/>
      </run>
    </groups>
    <classes> 
    		<class name="org.hgh.modules.HGHLoginModule"/>    
    		<class name="org.hgh.modules.HGHAccountDashboardModule"/> 
    		<class name="org.hgh.modules.HGHCartFileUploadModule"/>     
    		<class name="org.hgh.modules.HGHHomePageModule"/>     
    		<class name="org.hgh.modules.HGHMyProductGroupModule"/>     
    		<class name="org.hgh.modules.HGHSearchModule"/>     
    		<class name="org.hgh.modules.HGHProductDetailsModule"/>     
    		<class name="org.hgh.modules.HGHProductListModule"/>    
			<class name="org.hgh.modules.HGHQuickOrderPadModule"/>     
    		<class name="org.hgh.modules.HGHRegistrationModule"/>     
    		<class name="org.hgh.modules.HGHRequestForQuoteModule"/>     
    		<class name="org.hgh.modules.HGHShoppingCartModule"/>       
    		<class name="org.hgh.modules.HGHProductsCompareModule"/>     
    	           
    </classes>
  </test>
</suite>

<!-- <packages> -->
<!--  <package name="org.hgh.modules" /> -->     
   <!-- </packages> -->